.Flexbox-container {
    display: flex;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%
}

.Flexbox1 {
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: #1F2937;
    padding: 30px 10%;
}

.Flexbox2 {
    
}

.Flexbox3 {
    
}

.Flexbox4 {
    
}

.Flexbox5 {
    
}

.Flexbox6 {
    
}